---
import { Image } from "astro:assets";
import webIcon from "../images/weboldal_webaruhazkeszites.svg";
import contentManagement from "../images/kozossegi_media_tartalomkezeles.svg";
import graphicDesign from "../images/grafikai_tervezes.svg";
import socialAds from "../images/kozossegi_media_hirdeteskezeles.svg";
import googleAds from "../images/google_ads_hirdeteskezeles.svg";
import offlineGraphics from "../images/kiadvanyszerkesztes.svg";
import copyWriting from "../images/szovegiras.svg";
import emailMarketing from "../images/hirlevelmarketing.svg";
import photoIcon from "../images/virtualis_seta_termek_rendezvenyfotozas.svg";
---

<div class="relative isolate bg-white pt-24 pb-32 sm:pt-32">
  <div id="szolgaltatasok" class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2
        class="font-semibold uppercase text-base text-primary first-letter:leading-7"
      >
        Szolgáltatások
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Full service marketing
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Teljes körű, a marketingkommunikáció minden formáját tartalmazó
        szolgáltatást nyújtunk, mintha cégednek marketing, PPC és SM
        menedzserből, webfejlesztőből, grafikusból, szövegíróból álló, egész
        marketingosztálya lenne.
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
      >
        <!-- No. 1 -->
        <div
          class="services-card mx-auto relative flex flex-col rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 hover:-translate-y-3 transition-transform"
        >
          <dt
            class="services-card_head-wrapper flex flex-col font-semibold leading-7 text-base text-gray-900"
          >
            <div class="">
              <div>
                <Image
                  aria-hidden="true"
                  class="w-[4em] bg-transparent text-white"
                  src={webIcon}
                  alt="Weboldal ikon"
                />
              </div>
            </div>

            <h3 class="mt-4 text-xl">
              <a class="clickable-parent" href="#">
                Weboldal és webáruházkészítés
              </a>
            </h3>
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col leading-7 text-base text-gray-600"
          >
            <p class="mb-4">
              Felhasználó-, mobil- és keresőbarát, a célközönség hatékony
              elérését szolgáló, a marketingcélokat támogató honlapokat
              készítünk, üzemeltetünk.
            </p>
            <div class="services-card_footer">
              <p
                aria-hidden="true"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Részletes leírás →
              </p>
            </div>
          </dd>
        </div>
        <!-- No. 2 -->
        <div
          class="services-card mx-auto relative flex flex-col rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 hover:-translate-y-3 transition-transform"
        >
          <dt
            class="services-card_head-wrapper flex flex-col font-semibold leading-7 text-base text-gray-900"
          >
            <div class="">
              <div>
                <Image
                  aria-hidden="true"
                  class="w-[4em] bg-transparent text-white"
                  src={contentManagement}
                  alt="Weboldal ikon"
                />
              </div>
            </div>

            <h3 class="mt-4 text-xl">
              <a class="clickable-parent" href="#">
                Közösségi média tartalomkezelés
              </a>
            </h3>
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col leading-7 text-base text-gray-600"
          >
            <p class="mb-4">
              Figyelemfelkeltő, interaktív vizuális elemeinkkel, ötletes és
              ösztönző posztokkal, sztorikkal, videókkal eredményes
              közösségimédia-jelenlétet és -statisztikát is kínálunk.
            </p>
            <div class="services-card_footer">
              <p
                aria-hidden="true"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Részletes leírás →
              </p>
            </div>
          </dd>
        </div>
        <!-- No. 3 -->
        <div
          class="services-card mx-auto relative flex flex-col rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 hover:-translate-y-3 transition-transform"
        >
          <dt
            class="services-card_head-wrapper flex flex-col font-semibold leading-7 text-base text-gray-900"
          >
            <div class="">
              <div>
                <Image
                  aria-hidden="true"
                  class="w-[4em] bg-transparent text-white"
                  src={graphicDesign}
                  alt="Weboldal ikon"
                />
              </div>
            </div>

            <h3 class="mt-4 text-xl">
              <a class="clickable-parent" href="#"> Grafikai tervezés</a>
            </h3>
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col leading-7 text-base text-gray-600"
          >
            <p class="mb-4">
              Grafikáinkkal akár logó-, akár webdizájn-, akár
              termékcsomagolás-tervezés esetén kreatív, egységes
              brandidentitást, egyedi vállalati arculatot kommunikálunk.
            </p>
            <div class="services-card_footer">
              <p
                aria-hidden="true"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Részletes leírás →
              </p>
            </div>
          </dd>
        </div>
        <!-- No. 4 -->
        <div
          class="services-card mx-auto relative flex flex-col rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 hover:-translate-y-3 transition-transform"
        >
          <dt
            class="services-card_head-wrapper flex flex-col font-semibold leading-7 text-base text-gray-900"
          >
            <div class="">
              <div>
                <Image
                  aria-hidden="true"
                  class="w-[4em] bg-transparent text-white"
                  src={socialAds}
                  alt="Weboldal ikon"
                />
              </div>
            </div>

            <h3 class="mt-4 text-xl">
              <a class="clickable-parent" href="#">
                Közösségi média hirdetéskezelés
              </a>
            </h3>
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col leading-7 text-base text-gray-600"
          >
            <p class="mb-4">
              Szegmentáción és stratégián alapuló, adatvezérelt hirdetési
              kampányokat tervezünk, amelyekkel potenciális ügyfeleket
              generálhatsz, illetve céged ismertségét növelheted.
            </p>
            <div class="services-card_footer">
              <p
                aria-hidden="true"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Részletes leírás →
              </p>
            </div>
          </dd>
        </div>
        <!-- No. 5 -->
        <div
          class="services-card mx-auto relative flex flex-col rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 hover:-translate-y-3 transition-transform"
        >
          <dt
            class="services-card_head-wrapper flex flex-col font-semibold leading-7 text-base text-gray-900"
          >
            <div class="">
              <div>
                <Image
                  aria-hidden="true"
                  class="w-[4em] bg-transparent text-white"
                  src={googleAds}
                  alt="Weboldal ikon"
                />
              </div>
            </div>

            <h3 class="mt-4 text-xl">
              <a class="clickable-parent" href="#">
                Google Ads hirdetéskezelés
              </a>
            </h3>
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col leading-7 text-base text-gray-600"
          >
            <p class="mb-4">
              Célzott, kattintásalapú reklámokkal, a weboldaladra irányított
              forgalom optimalizálásával segítünk azonnali, profitábilis
              eredményeket produkálni.
            </p>
            <div class="services-card_footer">
              <p
                aria-hidden="true"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Részletes leírás →
              </p>
            </div>
          </dd>
        </div>
        <!-- No. 6 -->
        <div
          class="services-card mx-auto relative flex flex-col rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 hover:-translate-y-3 transition-transform"
        >
          <dt
            class="services-card_head-wrapper flex flex-col font-semibold leading-7 text-base text-gray-900"
          >
            <div class="">
              <div>
                <Image
                  aria-hidden="true"
                  class="w-[4em] bg-transparent text-white"
                  src={offlineGraphics}
                  alt="Weboldal ikon"
                />
              </div>
            </div>

            <h3 class="mt-4 text-xl">
              <a class="clickable-parent" href="#"> Kiadványszerkesztés</a>
            </h3>
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col leading-7 text-base text-gray-600"
          >
            <p class="mb-4">
              Offline marketinges eszközként látványos, egyszerre igényes és
              informatív katalógusokat, brosúrákat, szórólapokat,
              névjegykártyákat, egyéb promóciós anyagokat szerkesztünk.
            </p>
            <div class="services-card_footer">
              <p
                aria-hidden="true"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Részletes leírás →
              </p>
            </div>
          </dd>
        </div>
        <!-- No. 7 -->
        <div
          class="services-card mx-auto relative flex flex-col rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 hover:-translate-y-3 transition-transform"
        >
          <dt
            class="services-card_head-wrapper flex flex-col font-semibold leading-7 text-base text-gray-900"
          >
            <div class="">
              <div>
                <Image
                  aria-hidden="true"
                  class="w-[4em] bg-transparent text-white"
                  src={copyWriting}
                  alt="Weboldal ikon"
                />
              </div>
            </div>

            <h3 class="mt-4 text-xl">
              <a class="clickable-parent" href="#"> Szövegírás</a>
            </h3>
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col leading-7 text-base text-gray-600"
          >
            <p class="mb-4">
              Legyen szó webszövegről, blogcikkről, hírlevélről,
              hirdetésszövegről vagy közösségi médiáról, frappáns, a SEO
              szempontokat érvényesítő szöveges tartalmakat gyártunk.
            </p>
            <div class="services-card_footer">
              <p
                aria-hidden="true"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Részletes leírás →
              </p>
            </div>
          </dd>
        </div>
        <!-- No. 8 -->
        <div
          class="services-card mx-auto relative flex flex-col rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 hover:-translate-y-3 transition-transform"
        >
          <dt
            class="services-card_head-wrapper flex flex-col font-semibold leading-7 text-base text-gray-900"
          >
            <div class="">
              <div>
                <Image
                  aria-hidden="true"
                  class="w-[4em] bg-transparent text-white"
                  src={emailMarketing}
                  alt="Weboldal ikon"
                />
              </div>
            </div>

            <h3 class="mt-4 text-xl">
              <a class="clickable-parent" href="#"> Hírlevélmarketing</a>
            </h3>
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col leading-7 text-base text-gray-600"
          >
            <p class="mb-4">
              Emailmarketingre vonatkozó stratégiánkkal ügyfeleid számára
              valóban értékes, minőségi tartalmakat közvetítünk, és segítünk a
              cselekvésre ösztönzésükben.
            </p>
            <div class="services-card_footer">
              <p
                aria-hidden="true"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Részletes leírás →
              </p>
            </div>
          </dd>
        </div>

        <!-- No. 9 -->
        <div
          class="services-card mx-auto relative flex flex-col rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 hover:-translate-y-3 transition-transform"
        >
          <dt
            class="services-card_head-wrapper flex flex-col font-semibold leading-7 text-base text-gray-900"
          >
            <div class="">
              <div>
                <Image
                  aria-hidden="true"
                  class="w-[4em] bg-transparent text-white"
                  src={photoIcon}
                  alt="Weboldal ikon"
                />
              </div>
            </div>

            <h3 class="mt-4 text-xl">
              <a class="clickable-parent" href="#">
                Virtuális séta, termék- és rendezvényfotók készítése
              </a>
            </h3>
          </dt>
          <dd
            class="mt-4 flex flex-auto flex-col leading-7 text-base text-gray-600"
          >
            <p class="mb-4">
              3D-s, 360°-os, interaktív virtuális túrákat, illetve
              professzionális termék- és eseményfotókat készítünk, amelyekkel
              valósághű élményt teremthetsz és nagyobb érdeklődést kelthetsz.
            </p>
            <div class="services-card_footer">
              <p
                aria-hidden="true"
                class="text-sm font-semibold leading-6 text-primary"
              >
                Részletes leírás →
              </p>
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
